<%= user_style_tag current_user %>
<div class="grid_8">
  <div id="description">
    <p>のっとったーは，新時代の乗っ取りサービスです．<br>のっとったーを利用して，友達のTwitterアカウントを乗っ取ったり，知らない人にアカウントを乗っ取られたりしましょう．</p>
  </div>

  <% if current_user %>
  <div id="nottori-user">
    <p>下のボタンから，乗っ取りましょう．</p>
    <form method="get" action="/nottori/">
      <input type="submit" value="のっとる"></input>
    </form>
  </div>
  <% else %>
  <div id="register-user">
    <form method="get" action="/oauth">
      <p>Twitter OAuthで認証して利用します．</p>
      <input type="submit" value="認証する"></input>
    </form>
  </div>
  <% end %>
</div>
<div class="grid_4">
  <%= erb :widget %>
</div>
