<div id="description">
  <p>のっとったーは，新時代の乗っ取りサービスです．TwitterのOAuth認証を使って利用できます．</p>
</div>

<div id="register-user">
  <form method="get" action="/oauth">
    <input type="submit" value="認証する"></input>
  </form>
</div>
