<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/nottotter.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/nottotter.css" />
    <script language="javascript" type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/charCount.js"></script>
    <script language="javascript" type="text/javascript" src="/js/nottotter.js"></script>
    <link rel="shortcut icon" href="/favicon.png" />
    <meta name="description" content="のっとったーは，新時代の乗っ取りサービスです．のっとったーを利用して，友達のTwitterアカウントを乗っ取ったり，知らない人にアカウントを乗っ取られたりしましょう．" />
    <title>のっとったー</title>
  </head>
  <body>
    <div id="contain-all" class="container_12">
      <h1 class="grid_8"><a href="/">のっとったー</a></h1>
      <% if current_user %>
      <script language="javascript" type="text/javascript" >
        if (!window.nottotter) window.nottotter = {  };
        window.nottotter.user = {
          screen_name: "<%=h current_user.screen_name %>",
          token: "<%=h current_user.token %>"
        };
      </script>
      <div class="grid_4 top-navigation">
        <p>
          <%=h current_user.screen_name %>さんこんにちは，
          <a href="/logout">ログアウト</a>
          しますか？

          <form id="setting" method="POST" action="/setting">
            <label>
              <input type="radio" name="allow_from" value="followers" <% unless current_user.allow_from_all %>checked="checked"<% end %> >
              友達からのっとり許可
            </label>
            <br>
            <label>
              <input type="radio" name="allow_from" value="all" <% if current_user.allow_from_all %>checked="checked"<% end %>/>
              全員からのっとり許可
            </label>
            <br>
            <input type="submit" value="設定を保存" />
          </form>
        </p>
      </div>
      <% end %>
      <div class="clear"></div>
      <%= yield %>

      <div class="clear"></div>
      <div id="footer">
        Copyright (C) 2011 <a href="http://twitter.com/nottotterJP">のっとったー</a>
      </div>
    </div>
  </body>
</html>
