<p>申し訳ございません．OAuthの認証が切れたようです．以下から再度認証してください．</p>
<div id="register-user">
  <form method="get" action="/oauth">
    <p>Twitter OAuthで認証して利用します．</p>
    <input type="image" src="/img/auth.png">
  </form>
</div>
