<%= user_style_tag current_user %>
<div class="grid_8">
  <div id="description">
    <p>のっとったーは，新時代の乗っ取りサービスです．<br>のっとったーを利用して，友達のTwitterアカウントを乗っ取ったり，知らない人にアカウントを乗っ取られたりしましょう．</p>
  </div>

  <div id="x">
    <p>のっとったーは，oAuthアプリケーションがSuspendされたので，サービス終了しました．ご利用ありがとうございました．</p>
  </div>

  <div class="service-status">
    <p>サービス終了までに，<strong>5704</strong>人のユーザーがのっとったーを利用していました.<br />合計<strong>12537</strong>回の乗っ取りが行われました.
    </p>
  </div>

  <div class="howtouse">
    <h4>使い方</h4>
    <ol>
      <li>OAuth認証します</li>
      <li>乗っ取りたいユーザーを一覧から選択します</li>
      <li>5分間そのユーザーになりすましてタイムラインの閲覧やツイートができます</li>
    </ol>
    <h4>よくある質問</h4>
    <dl class="qa">
      <dt>どういう仕組みで乗っ取っているんですか?</dt>
      <dd>OAuth認証の仕組みを使って安全にアカウントを乗っ取れます</dd>
      <dt>誰が誰を乗っ取ることができるの?<img src="img/new.gif" /></dt>
      <dd>のっとったーを利用しているユーザー同士が，お互いのアカウントを乗っ取ることができます．デフォルト設定では，あなたがフォローしている人だけが，あなたを乗っ取ることができます．設定を変えると，のっとったーを利用しているユーザー全員が，あなたを乗っ取ることができるようになります．また，ブロックしている人には，乗っ取られないようになっています．</dd>
      <dt>誰にのっとられたか分かるの?</dt>
      <dd>誰が誰をのっとったか分かるようになっていますので，匿名でなにか書かれる，といった心配はありません．以下のリンクから，過去ののっとりをご覧になれます．<br><a href="http://nottotter.jp/history">過去ののっとり</a></dd>
      <dt>非公開(プロテクト)ユーザーをフォローしているけど大丈夫?</dt>
      <dd>非公開ユーザーのツイートは除外していますので安心してお使いください</dd>
      <dt>非公開ユーザーですが利用できますか?</dt>
      <dd>申し訳ありませんが非公開ユーザーの方はご利用できません</dd>
      <dt>乗っ取られたくなくなりました</dt>
      <dd>Twitterの設定画面で，のっとったーの許可を取り消すと，乗っ取りできなくなります<br><a href="http://twitter.com/settings/connections">Twitter / Connections</a></dd>
      <dt>質問があります</dt>
      <dd>公式アカウントで質問を承っております<br><a href="http://twitter.com/nottotterJP">のっとったー (nottotterJP) on Twitter</a></dd>
    </dl>
  </div>
</div>
<div class="grid_4">
  <%= erb :widget %>
</div>
